.products {
    display: flex;
    flex-wrap: wrap;
    margin-left: 10%;
    margin-right: 10%;
}
  
.product-card {
    margin: 30px 10px 10px 10px;
    padding: 2%;
    flex-grow: 1;
    flex: 1 19%;
    display: flex;
    flex-direction: column;
    height: 250px;
} 

.button-wish{
    display: none;
    height: 0;
    margin-left: -40px;
}

.product-card:hover {
    height: 300px;
}

.product-card:hover .button-wish {
    display: block;
    background-color: #fff;
    margin-top: 350px;
    margin-left: 30px;
    position: absolute;
    z-index: 100;
}

.product-image img {
    margin-left: 21px;
    padding: 5%;
    width: 70%;
}

.product-info {
    margin-top: -10px;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.product-name{
    font-size: 14px;
    font-weight: 1000;
}

.product-price{
    font-size: large;
    margin-top: 0px;
}

.bar-hor{
    display: block;
    height: 1px;
    width: 40px;
    background-color: #c9c9c9;
}

.company{
    text-transform: capitalize;
}

.bar-comp{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.hori-line{
    display: block;
    margin-top: 17px;
    z-index: -100;
    height: 1px;
    width: 100px;
    background-color: #c9c9c9;
}

.cart-button {
    margin-left: 6%;
    position: absolute;
    text-align: center;
    border: none;
    color: #fff;
    letter-spacing: 1px;
    text-transform: uppercase;
    background-color: #34A994;
    font-weight: bold;
    padding: 5px 10px;
    display: inline-block;
    text-decoration: none;
}

.heart-wish{
    display: flex;
    margin-top: 20px;
    margin-left: 28%;
}